In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import re

In [15]:
def classmate_emails(cov_id):

    df = pd.read_csv("sample_student_data.csv")
    df = df.set_index("id_number")
    classes_list = df.loc[int(cov_id), "classes"].split(",")

    df['classmates'] = df.apply(lambda row: True if any([item in row['classes'] for item in classes_list]) else False, axis = 1) 
    df['classmates'] = df['classmates']*df['obf_email']
    df = df.replace(r'', np.nan, regex=True)
    df = df.dropna()
    df = df[["name","obf_email"]]
    
    filename = f"{cov_id}_classmates_list.csv"
    df.to_csv(filename)
    
    return df


classmate_emails("202869")

                      name                       obf_email
id_number
202869          Sabrina Sy       sabrina.sy@obf.ateneo.edu
204995     Martine Uysipuo  martine.uysipuo@obf.ateneo.edu
203897           Raelyn Go        raelyn.go@obf.ateneo.edu
200594      Zachariah Tate   zachariah.tate@obf.ateneo.edu
201168        Justus Mckay     justus.mckay@obf.ateneo.edu
...                    ...                             ...
207156     Kylan Stevenson  kylan.stevenson@obf.ateneo.edu
202511        Dania Stuart     dania.stuart@obf.ateneo.edu
208067        Cruz Skinner     cruz.skinner@obf.ateneo.edu
200943       Michelle Shah    michelle.shah@obf.ateneo.edu
201740         Jobe Ilagan      jobe.ilagan@obf.ateneo.edu

[144 rows x 2 columns]